div {
    background-color: blueviolet;
    text-align: center;
    border-radius: 20px;
}
label {
    font-style: italic;
    font-weight: 600;

}
.input1 {
    border-radius: 20px;
    border: none;
    background-color: hotpink;
}
#container-center {
    width: fit-content;
}
h2 {
    color: brown;
    margin-left: 100px;
}
textarea{
    border-radius: 10px;
}
#Sub {
    margin-right: 60px;
    border-radius: 8px;
    background-color: hotpink
}
#Sub1 {
    border-radius: 8px;
    background-color: hotpink
}